<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Juegos</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; padding: 5px; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
<h1>Torneo de Videojuegos</h1>

<a href="/new-game-form">Crear Nuevo Juego</a>
<br><br>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>ID Asociado</th>
        <th>Imagen Banner</th>
        <th>Imagen Carta</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}">1</td>
        <td th:text="${game.name}">Nombre Juego</td>
        <td th:text="${game.description}">Descripción...</td>
        <td th:text="${game.associatedID}">ID asociado</td>
        <td th:text="${game.bannerImage}">Imagen de banner</td>
        <td th:text="${game.cardImage}">Imagen de carta</td>
        <td>
            <form action="#" th:action="@{/games/delete}" method="post">
                <input type="hidden" name="id" th:value="${game.id}" />
                <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este juego?');">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>