<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Juego</title>
</head>
<body>
<h1>Registrar Nuevo Juego</h1>

<form action="#" th:action="@{/game/new}" method="post">

    <label for="name">Nombre:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="associatedID">Plataforma (ID Asociado):</label><br>
    <select id="associatedID" name="associatedID">
        <option th:each="p : ${T(com.daw.competitionGames.shared.domain.AssociatedID).values()}"
                th:value="${p}" th:text="${p}"></option>
    </select><br><br>

    <label for="description">Descripción:</label><br>
    <textarea id="description" name="description"></textarea><br><br>

    <label for="bannerImage">URL Imagen Banner:</label><br>
    <input type="text" id="bannerImage" name="bannerImage"><br><br>

    <label for="cardImage">URL Imagen Carta:</label><br>
    <input type="text" id="cardImage" name="cardImage"><br><br>

    <button type="submit">Guardar Juego</button>
</form>

<br>
<a href="/">Volver a la lista</a>
<script src="../static/form.js"></script>
</body>
</html>